{% extends "base.html" %}   <!--base.html 을 상속받으며 첫줄에 와야함 -->

{% block title %}password_change_done.html{% endblock %}

{% load staticfiles %} <!-- 커스텀 태그를 사용하기 위해 staticfiles 모듈 로딩 / 정적인 항목들은 static 파일을 만들어서 사용 -->
{% block extrastyle %}{% static "css/baseball.css" %}{% endblock %}

{% block content %}

<div id="content6" style="text-align: center; margin: 0 auto; margin-top: 100px; width: 450px; height: 180px; border: 1px solid #9fcbea; border-radius: 15px; font-family: 'Nanum Gothic Coding', monospace;">

    <h1 style="color:#225273;">Password Change Successfully ! </h1>

    <h3 style="color: #2420bb;"><a id="h" href="{% url 'home' %}" style="color: #1023b6; hover:color: #434c91; text-decoration: non; font-weight:bold;">" Engoy Game! "</a></h3>

</div>

{% endblock %}

{% block footer %}
{% endblock footer %}